{% extends 'admin/base.html.twig' %}
{% form_theme form 'Form/fields.html.twig' %}
{% block title %}{{ parent() }} Edition type {% endblock %}
{% block body %}
<div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Edition de type</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <form role="form" action="{{ path('admin_type_edit',{'type':type.id}) }}" method="post" >
                {{ form_errors(form) }}
                {{ form_widget(form) }}
                 {{ form_widget(form._token) }}
                 <div class="form-group row ">
                     <div class="col-sm-12 ">
                         <a href="{{ path('admin_type_list') }}" class="pull-right btn btn-default">
                             Annuler
                         </a>
                         <button type="submit" class="pull-right btn btn-success ">
                             Sauvegarder
                         </button>

                     </div>
                 </div>
             </form>
             
        </div><!-- /.box-body -->
      </div><!-- /.box -->

      
      </div><!-- /.box -->
    </div><!-- /.col -->
    
    
  {% endblock %}
 