{% extends 'admin/base.html.twig' %}
{% form_theme form 'Form/fields.html.twig' %}
{% block title %}{{ parent() }} liste produits {% endblock %}
{% block body %}
<div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Liste des Produits</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <table id="itemlist" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Type</th>
                <th>Genre</th>
                <th>Marque</th>
                <th>Date d'ajout</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
                {% for p in products %}
              <tr>
                <td>{{ p.title}}</td>
                <td>{{ p.description}}</td>
                <td>{{ p.price}} €</td>
                <td>{{ p.type.name}}</td>
                <td>{{ p.genre.name}}</td>
                <td>{{ p.mark.name}}</td>
                <td>{{ p.createdAt|date('d-m-Y')}}</td>
                <td>
                    <ul class="list-inline">                       
                        
                        <li>
                            <a href="{{ path('admin_product_edit',{'product':p.id}) }}" class="btn btn-primary">Editer</a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-danger remove-product" data-toggle="modal" data-target="#myModal-delete" data-product="{{ p.title}}" data-id="{{ p.id }}">Supprimer</a>
                        </li>
                    </ul>
                </td>
              </tr>
                {% endfor %}
            </tbody>
         </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->

      
      </div><!-- /.box -->
    </div><!-- /.col -->
  <div class="row">
      <div class="col-xs-12">
          <button  class="btn btn-success center-block" data-toggle="modal" data-target="#ModalCreatForm">Ajouter un nouveau produit</button >
          <!-- Modal HTML Markup -->
        <div id="ModalCreatForm" class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Ajout d'un nouveau produit</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-primary btn-sm" data-dismiss="modal"><i class="fa fa-times"></i></button>
                        </div>
                     </div>
                    <div class="box-body">
                        <form role="form" action="{{ path('admin_product_new') }}" method="post" >
                           {{ form_errors(form) }}
                           {{ form_widget(form) }}
                            {{ form_widget(form._token) }}
                            <div class="form-group row ">
                                <div class="col-sm-12 ">
                                    <button data-dismiss="modal" class="pull-right btn btn-default">
                                        Annuler
                                    </button>
                                    <button type="submit" class="pull-right btn btn-success ">
                                        Valider
                                    </button>
                                   
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
         
      </div><!-- /.col -->
  </div><!-- /.row -->
  {% include '@challengePlatform/Admin/Product/modal-confirmation-delete-product.html.twig'   %}
  {% endblock %}
  {% block javascripts  %}
      {{ parent() }}
    <script src="{{ asset('AdminLTE/plugins/datatables/jquery.dataTables.js') }}" type="text/javascript"></script>
    <script src="{{ asset('AdminLTE/plugins/datatables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
      $(function () {
          $('#itemlist').dataTable({
               "bPaginate": false,
               "bInfo": false,
          });
          $(document).on('click','.close-collapse',function(){
              $('#form-container').collapse('hide');
          });
      });
    </script>
     <script type="text/javascript">
        $(document).on('click','.remove-product',function(){
            $('.confirm-productname').html($(this).data('product')+' ?');
            $('#form-remove input[name="productId"]').val($(this).data('id'));
        });
        
    </script>
  {% endblock %}