<div class ="header-menu col-sm-12">
    <nav class="navbar navbar-dark bg-dark">
    <ul class='nav nav-pills'>
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li class='pull-right'><a href="{{ path('fos_user_security_logout') }}" class="btn-outline-secondary">Se déconnecter</a></li>
            <li class='pull-right'><a href="{{ path('mycommand') }}" class="btn-outline-primary">Mes commandes</a></li>            
            <li class='pull-right'><a href="{{ path('mycart') }}"class="btn-outline-primary" >Mon pannier ({{ countCart is defined ?  countCart : 0}})</a></li>            
        {% else %}            
            <li class='pull-right'><a href="{{ path('fos_user_security_login') }}" class="btn-outline-primary">Se connecter</a></li>
            <li class='pull-right'><a href="{{ path('fos_user_registration_register') }}" class="btn-outline-primary">S'inscrire</a></li>
        {% endif %}
    </ul>
    </nav>
</div>