{% extends 'base.html.twig' %}
{% block stylesheets %}
            <!-- Bootstrap 3.3.5 -->
            <link href="{{ asset('AdminLTE/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
            <!-- Font Awesome -->
    {#        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">#}
            <link href="{{ asset('AdminLTE/bootstrap/font-awesome/4.4.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
            <!-- Ionicons -->
    {#        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">#}
            <link href="{{ asset('AdminLTE/bootstrap/ionicons/2.0.1/css/ionicons.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row content-wrapper">
            {% if app.request.get("_route") != "admin_login" %}
                {% include 'layout-header.html.twig' %}
            {% endif %}
            <div class="col-sm-12">
            {% for label, messages in app.flashes(['warning', 'error', 'success', 'notice']) %}
                {% for message in messages %}
                    <div class="row alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- jQuery 2.1.3 -->
    <script src="{{ asset('AdminLTE/plugins/jQuery/jQuery-2.1.3.min.js') }}" type="text/javascript"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="{{ asset('AdminLTE/bootstrap/js/jquery-ui.min.js') }}" type="text/javascript"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="{{ asset('AdminLTE/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
{% endblock %}