<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Formation | {% endblock %}</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.5 -->
        {% block stylesheets %}
        <link href="{{ asset('AdminLTE/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <!-- Font Awesome -->
{#        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">#}
        <link href="{{ asset('AdminLTE/bootstrap/font-awesome/4.4.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
        <!-- Ionicons -->
{#        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">#}
        <link href="{{ asset('AdminLTE/bootstrap/ionicons/2.0.1/css/ionicons.min.css') }}" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <link href="{{ asset('AdminLTE/dist/css/AdminLTE.min.css') }}" rel="stylesheet" type="text/css" />
        <!-- AdminLTE Skins. Choose a skin from the css/skins
             folder instead of downloading all of them to reduce the load. -->
        <link href="{{ asset('AdminLTE/dist/css/skins/_all-skins.min.css') }}" rel="stylesheet" type="text/css" />
        <!-- iCheck -->
       
        <link href="{{ asset('AdminLTE/plugins/datatables/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css" />
        <!-- bootstrap wysihtml5 - text editor -->
{#        <link href="{{ asset('AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}" rel="stylesheet" type="text/css" />#}
        <link href="{{ asset('css/admin.css') }}" rel="stylesheet" type="text/css" />
       

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="hold-transition skin-green sidebar-mini">
        
        <div class="wrapper">
            <!-- Header -->
            {{ include("admin/baseHeader.html.twig") }}
            <!-- Left side column. contains the logo and sidebar -->
            {{ include("admin/baseSidebar.html.twig") }}
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                {{ include("admin/baseBreadcrumb.html.twig") }}

                <!-- Main content -->
                <section class="content">
                    {% block body %}{% endblock %}
                </section><!-- /.content -->
            </div><!-- /.content-wrapper -->

            <!-- Footer -->
            {{ include("admin/baseFooter.html.twig") }}

            <!-- Control Sidebar -->
            {#{ include("::baseAdminControlSidebar.html.twig") }#}
            
        </div>

        {% block javascripts %}
        <!-- jQuery 2.1.3 -->
        <script src="{{ asset('AdminLTE/plugins/jQuery/jQuery-2.1.3.min.js') }}" type="text/javascript"></script>
        <!-- jQuery UI 1.11.4 -->
        <script src="{{ asset('AdminLTE/bootstrap/js/jquery-ui.min.js') }}" type="text/javascript"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>
            $.widget.bridge('uibutton', $.ui.button);
            </script>
            <!-- Bootstrap 3.3.5 -->
            <script src="{{ asset('AdminLTE/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
        
            <!-- AdminLTE App -->
            <script src="{{ asset('AdminLTE/dist/js/app.min.js') }}" type="text/javascript"></script>
            
        {% endblock %}
        </body>
    </html>
