{% set active = 'active' %}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
{#            <li class="header">MAIN NAVIGATION</li>#}
            <li class="{% if app.request.get('_route') == 'admin_dashboard' %}active{% endif %} treeview">
                <a href="{{ path('admin_dashboard') }}">
                    <i class="fa fa-dashboard"></i> <span>Tableau de bord</span>
                </a>
            </li>
                       
            
            <li class="{% if menuFournisseur is defined %}{{ active }}{% endif %}">
                <a href="{{ path('admin_fournisseur_list') }}">
                    <i class="fa fa-cogs"></i> <span>Fournisseur</span>
                </a>
            </li>
            <li class="{% if menuProduct is defined %}{{ active }}{% endif %}">
                <a href="#">
                    <i class="fa fa-cogs"></i> <span>Produits </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if menuProductList is defined %}{{ active }}{% endif %}">
                        <a href="{{ path('admin_product_list') }}"><i class="fa fa-circle-o"></i>Produit</a>
                    </li>
                    
                    <li class="{% if menuGenre is defined %}{{ active }}{% endif %}">
                        <a href="{{ path('admin_genre_list') }}"><i class="fa fa-circle-o"></i>Genre</a>
                    </li>
                    <li class="{% if menuMark is defined %}{{ active }}{% endif %}">
                        <a href="{{ path('admin_mark_list') }}"><i class="fa fa-circle-o"></i>Marque</a>
                    </li>
                    <li class="{% if menuType is defined %}{{ active }}{% endif %}">
                        <a href="{{ path('admin_type_list') }}"><i class="fa fa-circle-o"></i>Type</a>
                    </li>
                   
                </ul>
            </li>            
            
            <li class="{% if menuStock is defined %}{{ active }}{% endif %}">
                <a href="{{ path('admin_stock_list') }}">
                    <i class="fa fa-cogs"></i> <span>Stock</span>
                </a>
            </li>
            
            <li class="{% if menuUser is defined %}{{ active }}{% endif %}">
               <a href="#">
                    <i class="fa fa-users"></i> <span>User</span>
                </a>
                
                
            </li>
            <li class="{% if menuCommand is defined %}{{ active }}{% endif %}">
                <a href="#">
                    <i class="fa fa-cogs"></i> <span>Commande</span>
                </a>
            </li>
            
            
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>