<section class="content-header">
    {% for label, messages in app.flashes(['warning', 'error', 'success', 'notice']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
    <h1>&nbsp;
        {#{% if tBreadcrumbs is defined %}
            {{ tBreadcrumbs | last['label'] }}
        
             <small>{{ tBreadcrumbs | last['desc'] }}</small>
        {% else %}
            &nbsp;
        {% endif %}#}
    </h1>
    <ol class="breadcrumb">
        <li><a href="{#{{ path('admin_dashboard') }}#}"><i class="fa fa-dashboard"></i> Home</a></li>
        {% if tBreadcrumbs is defined %}
        {% for item in tBreadcrumbs %}
            {% if loop.last %}
            <li class="active">{{ item.label }}</li>       
            {% else %}
            <li><a href="{{ item.href }}">{{ item.label }}</a></li>        
            {% endif %}
        {% endfor %}
        {% endif %}
    </ol>
</section>