{% extends "layout-main.html.twig" %}
{% block content %}
    <div class="row">
        			
                <div class="header">
                        <center><img src="{{ asset('images/logo.jpg') }}"></center>
                </div>
               {#
                <div class="col-sm-12">
                    {% for p in products %}
                        
                    
                </div>#}
    </div>
        <div class="row">
           <div class="col-md-7 col-lg-7">
               {% for c in commands %}
                   <div >
                       <p>Date: {{ c.date|date('d-m-Y') }}</p>
                       {% for output in c.productHasCommand %}
                            {% set p = output.product %}
                             <ul class="media-list main-list">                                 
                                      <li class="media">
                                        <a class="pull-left" href="#">
                                          <img class="media-object" src="http://placehold.it/150x90" alt="...">
                                        </a>

                                        <div class="media-body">
                                          <h4 class="media-heading">{{ p.title }}</h4>
                                          <p class="by-author">{{ p.mark.name }}</p>
                                          <p class="by-author">prix unitaire: {{ p.price }} €</p>
                                          <p class="by-author">quantité: {{ output.quantity }} </p>
                                          <p class="by-author">sous total: {{ output.quantity*p.price }} €</p>
                                        </div>
                                      </li>
                            </ul>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            {#<div class="col-md-5 col-lg-5">
                <div class="featured-article">
                    {% set total = 0 %}
                    {% for p in products %}
                        {% set total = total + (p.quantityCart*p.price)  %}
                    {% endfor %}
                    {% if products|length %}
                        <div class="total-text">
                            Prix total : {{ total }} €
                        </div>
                        <p> <a href="{{ path('commande_action') }}" class="btn btn-primary"> Valider ma commande</a> </p>
                    {% else %}
                        <div class="total-text">
                            Vous n'avez pas encore ajouté dans votre pannier
                        </div>
                        <p> <a href="{{ path('homepage') }}" class="btn btn-primary"> Faire mes achats</a> </p>
                    {% endif %}
                </div>
            </div>#}
                     <!-- Modal -->
            <div id="myModal-retrait" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header alert-warning">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Retrait de mon panier</h4>
                  </div>
                  <div class="modal-body">
                      <p class="confirm-text">Voulez-vous retirer cette commande de votre pannier?</p>
                      <h3><span class="confirm-product-title"></span></h3><br>
                      
                      <div class="modal-footer">
                            <form id="form-remove" method="POST" action="{{ path('cart_remove') }}">
                               <input type="hidden" name="productId" >
                               <input type="hidden" name="callback_url" value="{{ app.request.attributes.get('_route') }}">
                              <a href="#"  class="btn btn-default" data-dismiss="modal">Annuler</a>
                              <button type="submit" class="btn btn-primary" id="btn-valider">Ok</button>
                            </form>
                        </div>
                  </div>
                  {#<div class="modal-footer">
                      <form id="form-ajout-panier" method="POST" action="#">
                         <input type="hidden" id="productId" name="productId" >
                         <input type="text" id="nbProduct" name="nbproduct" >
                        <a href="#"  class="btn btn-default" data-dismiss="modal">Annuler</a>
                        <button type="submit" class="btn btn-primary" id="btn-valider">Ok</button>
                      </form>
                  </div>#}
                </div>

              </div>
            </div>

{% endblock %}
{% block javascripts  %}
      {{ parent() }}
     <script type="text/javascript">
        $(document).on('click','.remove-cart',function(){
            $('.confirm-product-title').html($(this).data('produit'));
            $('#form-remove input[name="productId"]').val($(this).data('id'));
        });
        
    </script>
  {% endblock %}