/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 mai 2018, 13:50:59
    Author     : Haja-premesu
*/

fieldset {
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #337ab7;
    border-radius: 4px;
}
fieldset.error{    
    border-color: red;
}
fieldset.success{    
    border:1px solid #55b733;
    background-color: rgb(0,128,0,0.2);
}
input.success{    
    border:1px solid #55b733;
    background-color: rgb(0,128,0,0.2);
}
.btn.col-sm-2{
    width:11% !important;
}