body
{
    background-color: #5bc0de;
}
.container{
    max-width: 80% !important;
    background-color: #fff;
}
.content{
    width: 100%;
}
.container .btn{
    margin:5px;
}
.content-wrapper{
    min-height: 96vh;
}
.container-register-login .separator{
    width: 1px;    
    height: 515px;
    padding-right: 60px;
    margin-top: 20px;
    border-right: 2px solid red;

}
.container-register-login .form-content-title{
    margin: 30px 74px;
    text-align: center;
}
.container-register-login .text{
    color: forestgreen;
    font-family: cursive;
    font-size: 17px;
}
.form-login form{
    margin-top: 118px;
}
.content-error{
    text-align: center;
}
.error{
    color:#d55;
    font-weight:bold;
    margin:10px 0;
}
.alert {
    padding: 20px;    
    color: white;
}
.alert.alert-success {
    background-color: #4CAF50;
}
.alert.alert-warning {
    background-color: #ff8000;
}
.alert.alert-error {
    background-color: #f44336;
}
.alert.alert-notice {
    background-color: #00bfff;
}
.thanks-content{
    margin:3px;
    background-color: #ff5;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.formation-title{    
    margin: auto;
    font-size: 29px;
    font-weight: 400;
    line-height: 3.428571;
    color: cornflowerblue;
}
.pannel-btn{
    margin-left: 430px;
    margin-top: 5px;
}
@media (min-width: 768px){
        .col-sm-10 {
        width: 79% !important;
    }
}
@media (min-width: 992px){
    .col-md-2 {
        width: 20.666667% !important;
    }
}

/* image thumbnail */
.thumb {
    display: block;
	width: 100%;
	margin: 0;
}

/* Style to article Author */
.by-author {
	font-style: italic;
	line-height: 1.3;
	color: #aab6aa;
}

/* Main Article [Module]
-------------------------------------
* Featured Article Thumbnail
* have a image and a text title.
*/
.featured-article {
	width: 482px;
	height: 350px;
	position: relative;
	margin-bottom: 1em;
}

.featured-article .block-title {
	/* Position & Box Model */
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	/* background */
	background: rgba(0,0,0,0.7);
	/* Width/Height */
	padding: .5em;
	width: 100%;
	/* Text color */
	color: #fff;
}

.featured-article .block-title h2 {
	margin: 0;
}

/* Featured Articles List [BS3]
--------------------------------------------
* show the last 3 articles post
*/

.main-list {
	padding-left: .5em;
}

.main-list .media {
	padding-bottom: 1.1em;
	border-bottom: 1px solid #e8e8e8;
}
form.fos_user_registration_register div#fos_user_registration_form{
   padding: 0px 140px
}
form.fos_user_registration_register  input[type=submit]{
  color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    float: right;
    margin-right: 148px;
}
