{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
    <div class="row">
        <div class="col-sm-12 content-wrapper">			
                <div class="header">
                    <center><h2>Veuillez vous authentifier</h2></center>
                </div>
               
               <div class="row container-register-login">
                   
                   <div class="col-sm-6 col-sm-offset-3 form-login">
                     <form role="form" action="{{ path('fos_user_security_check') }}" method="post" >
                         <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            <div class="form-group row">
                                <label class="col-md-2 col-sm-12 control-label required" for="userbundle_user_name">Email : </label>                    
                                <div class="col-sm-10"><input type="text" id="username" name="_username" required="required" value="{{ last_username is defined ? last_username }}" class="form-control input-md" ></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-sm-12 control-label required" for="userbundle_user_name">Mot de passe: </label>                    
                                <div class="col-sm-10"><input type="password" id="password" name="_password" required="required"  class="form-control input-md"></div>
                            </div>
                            <div class="form-group row">
                                <label for="remember_me" class="pull-right" style="margin-right: 18px;" >{{ 'security.login.remember_me'|trans }}</label>
                                <input type="checkbox"  class="pull-right" id="remember_me" name="_remember_me" value="on" style="margin-right: 5px;" />
                                
                            </div>
                            <div class="form-group row ">
                                <div class="col-sm-12 ">                                    
                                    <button type="submit" name="_submit" class="pull-right btn btn-success ">
                                        Se connecter
                                    </button>
                                </div>
                            </div>
                                {% if error is defined and error %}
{#                                    {{ error | raw }}#}
                                    <div class="content-error">
                                        <span class="error">Vérifiez bien votre login ou mot de passe.</span>
                                    </div>
                            {% endif %}
                     </form>
                    </div>
                </div>
        </div>
    </div>
{% endblock fos_user_content %}{# empty Twig template #}

{#{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="form-group">
        <label for="username">{{ 'security.login.username'|trans }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
    </div>

    <div class="form-group">
        <label for="password">{{ 'security.login.password'|trans }}</label>
        <input type="password" id="password" name="_password" required="required" />
    </div>

    <div class="checkbox">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    </div>

    <input type="submit"
           class="btn btn-success"
           id="_submit"
           name="_submit"
           value="{{ 'security.login.submit'|trans }}" />
</form>
{% endblock fos_user_content %}#}