{% extends "layout-main.html.twig" %}
{% block content %}
    <div class="row">
        			
                <div class="header">
                        <center><img src="{{ asset('images/logo.jpg') }}"></center>
                </div>
               {#
                <div class="col-sm-12">
                    {% for p in products %}
                        
                    
                </div>#}
    </div>
        <div class="row">
           <div class="col-md-5 col-lg-5">
               {% if  products|length > 0%}
                   <div class="featured-article">
                           <a href="{{ path('show_detail_product',{product: products[0].id}) }}">
                                   <img src="http://placehold.it/482x350" alt="" class="thumb">
                           </a>
                           <div class="block-title">
                                   <h2>{{ products[0].title }}</h2>
                                   <p class="by-author"><small>{{ products[0].mark.name }}</small></p>
                                   <p class="by-author">{{ products[0].price }} €</p>
                                   {% if app.user.id is  defined %}
                                    <p> <a href="#" class="btn btn-success add-cart" data-toggle="modal" data-target="#myModal-addcart" data-produit="{{ products[0].title}}" data-id="{{ products[0].id }}">Ajouter dans le panier</a> </p>
                                   {% else %}
                                    <p> <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary add-cart" >Ajouter dans le panier</a> </p>
                                  {% endif %}
                           </div>
                   </div>
                {% else %}
                    <div class="featured-article">
                           <a href="#">
                                   <img src="http://placehold.it/482x350" alt="" class="thumb">
                           </a>
                           <div class="block-title">
                                   <h2>Aucun produit disponible</h2>                                   
                           </div>
                   </div>
               {% endif %}
                   <!-- /.featured-article -->
           </div>
           <div class="col-md-7 col-lg-7">
                <ul class="media-list main-list">
                    {% for p in products %}
                         <li class="media">
                           <a class="pull-left" href="{{ path('show_detail_product',{product: p.id}) }}">
                             <img class="media-object" src="http://placehold.it/150x90" alt="...">
                           </a>

                           <div class="media-body">
                             <h4 class="media-heading">{{ p.title }}</h4>
                             <p class="by-author">{{ p.mark.name }}</p>
                             <p class="by-author">{{ p.price }} €</p>
                             {% if app.user.id is  defined %}
                             <p> <a href="#" class="btn btn-success add-cart" data-toggle="modal" data-target="#myModal-addcart" data-produit="{{ p.title}}" data-id="{{ p.id }}">Ajouter dans le panier</a> </p>
                             {% else %}
                                  <p> <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary add-cart" >Ajouter dans le panier</a> </p>
                             {% endif %}
                           </div>
                         </li>
                     {% endfor %}
                </ul>
            </div>
                     <!-- Modal -->
            <div id="myModal-addcart" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header alert-info">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ajout dans mon panier</h4>
                  </div>
                  <div class="modal-body">
                      <h3><span class="confirm-product-title"></span></h3><br>
                      <p class="confirm-text">Veuillez indiquer la quantité:</p>
                      <form id="form-ajout-panier" method="POST" action="{{ path('savetocart') }}">
                          <div class="form-control-static">
                            <input type="hidden" id="productId" name="productId" >
                            <input type="text" id="quantity" name="quantity" >
                         </div>
                          <div class="footer-btn">
                            <button type="submit" class="btn btn-primary" id="btn-valider">Ajouter</button>
                            <a href="#"  class="btn btn-default" data-dismiss="modal">Annuler</a>
                         </div>
                        
                      </form>
                  </div>
                  {#<div class="modal-footer">
                      <form id="form-ajout-panier" method="POST" action="#">
                         <input type="hidden" id="productId" name="productId" >
                         <input type="text" id="nbProduct" name="nbproduct" >
                        <a href="#"  class="btn btn-default" data-dismiss="modal">Annuler</a>
                        <button type="submit" class="btn btn-primary" id="btn-valider">Ok</button>
                      </form>
                  </div>#}
                </div>

              </div>
            </div>

{% endblock %}
{% block javascripts  %}
      {{ parent() }}
     <script type="text/javascript">
        $(document).on('click','.add-cart',function(){
            $('.confirm-product-title').html($(this).data('produit'));
            $('#form-ajout-panier input[name="productId"]').val($(this).data('id'));
        });
        
    </script>
  {% endblock %}