<!-- Modal -->
<div id="myModal-delete" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header alert-warning">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
          <p class="confirm-text">Etes-vous sûr de vouloir supprimer ce genre:</p>
          <span class="confirm-genrename"></span><br>
      </div>
      <div class="modal-footer">
          <form id="form-remove" method="POST" action="{{ path('admin_genre_remove') }}">
             <input type="hidden" name="genreId" >
             <input type="hidden" name="callback_url" value="{{ app.request.attributes.get('_route') }}">
            <a href="#"  class="btn btn-default" data-dismiss="modal">Annuler</a>
            <button type="submit" class="btn btn-primary" id="btn-valider">Ok</button>
          </form>
      </div>
    </div>

  </div>
</div>
