{% extends 'admin/base.html.twig' %}
{% block title %}{{ parent() }} Dashboard {% endblock %}
{% block body %}
<!-- Small boxes (Stat box) -->
<div class="row">   
    
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Clients inscrits</span>
            <span class="info-box-number">{{countUsers is defined ? countUsers : 0}}</span>
            
            
          </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
    
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-green"><i class="ion ion-ios-people-outline"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Total catégorie de Produits</span>
            <span class="info-box-number">{{countProducts is defined ? countProducts : 0}}</span>
            
            
          </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->  
    
    
     <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-gray"><i class="ion ion-android-mail"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Total Commandes</span>
            <span class="info-box-number">{{countCommands is defined ? countCommands : 0}}</span>
          </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
      </div><!-- /.col -->      
</div><!-- /.row -->
<!-- Main row -->
{% endblock %}