{% extends 'layout-main.html.twig' %}
{% block title %}{{ parent() }} Admin-Authentification {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12 content-wrapper">			
                <div class="header">
                        <center><img src="{{ asset('images/black-star-glasses-hi.png') }}" style="width:300px;"></center>
                </div>
               
               <div class="row container-register-login">
                   
                   <div class="col-sm-6 col-sm-offset-3 form-login">
                     <form role="form" action="{{ path('admin_login_check') }}" method="post" >
                            <div class="form-group row">
                                <label class="col-md-2 col-sm-12 control-label required" for="userbundle_user_name">Login : </label>                    
                                <div class="col-sm-10"><input type="text" id="username" name="_username" required="required" value="{{ last_username is defined ? last_username }}" class="form-control input-md" ></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-sm-12 control-label required" for="userbundle_user_name">Mot de passe: </label>                    
                                <div class="col-sm-10"><input type="password" id="password" name="_password" required="required"  class="form-control input-md"></div>
                            </div>
                            <div class="form-group row ">
                                <div class="col-sm-12 ">                                    
                                    <button type="submit" name="connexion" class="pull-right btn btn-success ">
                                        Se connecter
                                    </button>
                                </div>
                            </div>
                                {% if error is defined and error %}
{#                                    {{ error | raw }}#}
                                    <div class="content-error">
                                        <span class="error">Vérifiez bien votre login ou mot de passe.</span>
                                    </div>
                            {% endif %}
                     </form>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}{# empty Twig template #}
